## .NET Core
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
.vs/
*.csproj.user

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.pdb
